<p id="notice"><%= notice %></p>

<p>
  <strong>Noun1:</strong>
  <%= @word_select.noun1 %>
</p>

<p>
  <strong>Noun2:</strong>
  <%= @word_select.noun2 %>
</p>

<p>
  <strong>Noun3:</strong>
  <%= @word_select.noun3 %>
</p>

<p>
  <strong>Place1:</strong>
  <%= @word_select.place1 %>
</p>

<p>
  <strong>Place2:</strong>
  <%= @word_select.place2 %>
</p>

<p>
  <strong>Verb1:</strong>
  <%= @word_select.verb1 %>
</p>

<p>
  <strong>Verb2:</strong>
  <%= @word_select.verb2 %>
</p>

<p>
  <strong>Verb3:</strong>
  <%= @word_select.verb3 %>
</p>

<p>
  <strong>Adjective1:</strong>
  <%= @word_select.adjective1 %>
</p>

<p>
  <strong>Adjective2:</strong>
  <%= @word_select.adjective2 %>
</p>

<p>
  <strong>Adjective3:</strong>
  <%= @word_select.adjective3 %>
</p>

<%= link_to 'Edit', edit_word_select_path(@word_select) %> |
<%= link_to 'Back', word_selects_path %>
